.first-section
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.first-section h1, .first-section div
{
    text-align: center;
    padding: 30px;
}
.margin-top
{
    margin-top: 30px;
}

.second-section img
{
    width: 100%;
    height: 300px;
}

.second-section
{
    flex-wrap: wrap;
}